{% extends 'base.html' %}

{% block title %}Crop Recommendation | CropAdvisor{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Crop Recommendations</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            {% if crop %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>{{ crop }}</h4>
                        <p>{{ reason }}</p>
                    </li>
                </ul>
            {% else %}
                <p>No recommendations available. Please make sure to input your data.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}